.App {
  text-align: center;
}
body {
  min-height: 100%;
  overflow: hidden;
}

#root {
  position:absolute;
  width:100%;

}
html, body, #root {/* html, body, #root{ */
  min-height: 100%;
  height: 100%;
  overflow:hidden;
}

a.page-link, span.page-link {
  border:none;
}
/* 
html, body, #root {
  height: 100%;
} */

input[type=checkbox], .form-check-input{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom checkbox appearance */
  /* display: inline-block; */
  display: block;
  width: 25px;
  height: 25px;
  padding: 5%;
  /* background-color only for content */
  background-clip: content-box;
  border: 1.5px solid #bbbbbb;
  border-radius: 0px;
  background-color: #e7e6e7;
  border-color:#084298;
  margin:revert;
}

.form-check-input:checked, .form-check-input:checked[type=checkbox],
.form-check-input:checked:after,  .form-check-input:checked[type=checkbox]:after{
  /* Heres your symbol replacement - this is a tick in Unicode. */
  content: "";
  color: #fff;
  border-color:#084298;
  background-color:#084298;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.containerHeight{ 
  min-height: 100%;
  height: 100%;
  bottom:0px;
}

.containerBottom
{ 
  position: absolute;
  bottom: 0px;
} 

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
